@use './partials/variables' as *;
@use './partials/dash' as *;
@use './partials/home' as *;
@use './partials/products' as *;
@use './partials/orders' as *;
@use './partials/nav' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Nunito', sans-serif;
}
#main-content {
  height: calc(100vh - 48px);
}
textarea {
  vertical-align: top !important;
  text-align: left !important;
}