@use './variables' as *;
.wrap {
	margin-top: 70px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	background-size: 80px 80px;
	display: flex;
	height: 70%;
	align-items: center;
	justify-content: center;
}
.cube {
	margin: auto;
	position: relative;
	height: 150px;
	width: 150px;
	transform-style: preserve-3d;
}
.cube img {
	height: 130px;
	width: 130px;
}
.cube div {
	position: absolute;
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
	opacity: 0.8;
	width: 100%;
	color: #fff;
	font: normal 50pt Arial;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease-in;
}
.front {
	transform: translateZ(100px);
	background: linear-gradient(to right, #ff7816, #ff4b00);
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
	background: linear-gradient(to right, #ff7816, #ff4b00);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	background-color: #ffdf00;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	background-color: #ffdf00;
}
.top {
	transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
	background-color: #2196f3;
}
.bottom {
	transform: rotateX(270deg) translateY(100px);
	transform-origin: bottom center;
	background-color: #2196f3;
}

.cube {
	animation: rotate 30s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}
.core {
	color: #fff;
	font: normal 70pt Arial;
	display: flex;
	justify-content: center;
	align-items: center;
  h1 {
    font-size: 0.4em;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000, 5px 5px 0 #000;
    font-weight: 800;
    color: $green;
  }
  
}
.cube:hover .front {
	transform: translateZ(200px);
}
.cube:hover .back {
	transform: translateZ(-200px) rotateY(180deg);
}
.cube:hover .right {
	transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}
.cube:hover .left {
	transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}
.cube:hover .top {
	transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}
.cube:hover .bottom {
	transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

@media screen and (min-width: 992px){
  .wrap {
	margin-top: 120px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	background-size: 80px 80px;
	display: flex;
	height: 70%;
	align-items: center;
	justify-content: center;
}
  .cube {
	margin: auto;
	position: relative;
	height: 240px;
	width: 240px;
	transform-style: preserve-3d;
}
.cube img {
	height: 220px;
	width: 220px;
}
.core {
	color: #fff;
	font: normal 70pt Arial;
	display: flex;
	justify-content: center;
	align-items: center;
  h1 {
    font-size: 0.5em;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000, 5px 5px 0 #000;
    font-weight: 800;
    color: $green;
  }
  
}
}
