@use './variables' as *;

#navbar {
  background-color: $nav-side;
  color: $light;
  #logo {
    width: 150px;
  }
  ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
  }
}

#sidebar {
  background-color: $nav-side;
  font-size: 0.8em;
  .active-link {
     background-color: rgba(95, 92, 92, 0.314);
     color: black;
     border-radius: 50px;
  }
  h5 {
    color: $contrast;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      padding: 20px;
      width: 100%;
      .anchor-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      i {
        font-size: 1.7em;
        color: $contrast;
      }
    }
  }
  a {
    color: $light;
    text-decoration: none;
    font-size: 1.1em;
  }
  button {
    border: none !important;
    margin: 0;
    padding: 0;
    color: $light;
    font-size: 1.1em;
  }
}