@use './variables' as *;
$sidebar-width: 250px;
#navbar {
  background-color: #244956;
  height: 80px;
  box-shadow: 3px 3px 3px black;
  color: white;
  font-size: 1.1em;
  #logo {
    width: 100px;
    // position: absolute;
    // top: 5px;
    // left: 5px;
  }
  .active-link {
     background-color: #00CCBC;
     i,a{
        color: #244956;
    }
  }
  ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    li {
      padding: 0 10px;
      i {
        color: #00CCBC;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

#sidebar {
  background-color: #244956;
  box-shadow: 3px 3px 3px black;
  overflow: hidden;
  .active-link {
     background-color: #00CCBC;
     border-radius: 25%;
     i,a{
        color: #244956;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      padding: 10px;
      width: 100%;
      .anchor-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      i {
        font-size: 1.3em;
        color: #00CCBC;
      }

    }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  button {
    border: none !important;
    margin: 0;
    padding: 0;
    color: $light;
    font-size: 1.1em;
  }
}
