#order{
    height: calc(100vh - 80px);
    h1{
        color: black;
        text-shadow: none;
    }
    .col-3{
        border: 1px solid black;
    }
    ul{
        list-style: none;
        border-bottom: dotted black;
        padding-bottom: 10px;

        span{
            font-weight:normal;
        }

    }
}
span{
            font-weight: bold;
        }
