@use './variables' as *;

#restaurants-show {
    .card {
      border: none;
      overflow: hidden;
      box-shadow: 3px 3px 5px black;

    }

    .card-title {
      font-weight: bold;
    }

    .card-img-top {
      transition: filter 0.3s ease, transform 0.5s ease;


        &:hover {
        filter: brightness(75%);
        transform: scale(1.2);
        cursor: pointer;
        }
    }

    span {
      font-style: italic;
      font-weight:normal;
    }

    .btn{
        background-color: #00CCBC;
        color: #244956;
        border-color: #244956;
        font-weight: bold;

        &:hover{
            background-color: #244956;
            color: #00CCBC;
            border-color: #00CCBC;
        }
    }
  }
